<footer data-wpr-lazyrender="1" id="footer">
    <div class="container footer-top">
        <div class="d-block d-md-flex">
            <!-- Bloc contact -->
            <div class="footer-contact">
                <img src="lafaom-mao.png" class="mb-3" alt="logo" width="220" height="80">
                <address>
                    <p class="highlight">
                        B.P : 4836 Nlongkak<br>
                        Yaoundé - Cameroun
                    </p>
                    <p>
                        Fondation Ateba Ombala Marc <br> promouvoir justice pénale, dignité humaine, <br> réinsertion
                        sociale.
                    </p>
                </address>
                <ul class="list-inline social-networks">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/school/bioforceorg" target="_blank">
                            <i class="icon-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/bioforceOrg" target="_blank">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/bioforceorg/" target="_blank">
                            <i class="icon-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Bloc centres -->
            <div class="footer-our-centers">
                <h4>Centres<br>de formation</h4>

                <address>
                    <h5>
                        
                        <a href="https://www.bioforce.org/learn/centres/europe/">
                            <img src="favicon-192x192.png" alt="logo" width="30" height="30">
                            <span class="ml-2" style="margin-top: 15px;">Europe</span>
                        </a>
                    </h5>
                    <p>
                        41 avenue du 8 mai 1945<br>
                        69200 Vénissieux - FRANCE
                    </p>
                </address>
            </div>

            <!-- Bloc centres -->
            <div class="footer-our-centers">
                <h4>Organisation</h4>

                <address>
                    <h5>
                        <a href="#">
                            <img src="favicon-192x192.png" alt="logo" width="30" height="30">
                            <span>Bureau Exécutif</span>
                        </a>
                    </h5>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                            height="16">
                            <path
                                d="M1.99974 13.0001L1.9996 11.0002L18.1715 11.0002L14.2218 7.05044L15.636 5.63623L22 12.0002L15.636 18.3642L14.2218 16.9499L18.1716 13.0002L1.99974 13.0001Z" />
                        </svg>
                        Présidente :<br>
                        <span style="font-weight: bolder; margin-left: 20px;">NKE ATEBA Bernadette Marlyse</span>
                    </p>
                    <br>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                            height="16">
                            <path
                                d="M1.99974 13.0001L1.9996 11.0002L18.1715 11.0002L14.2218 7.05044L15.636 5.63623L22 12.0002L15.636 18.3642L14.2218 16.9499L18.1716 13.0002L1.99974 13.0001Z" />
                        </svg>  
                        Secrétaire général :<br>
                        <span style="font-weight: bolder; margin-left: 20px;">OMBALA ATEBA Jacques Alain</span>
                    </p>
                    <br>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                            height="16">
                            <path
                                d="M1.99974 13.0001L1.9996 11.0002L18.1715 11.0002L14.2218 7.05044L15.636 5.63623L22 12.0002L15.636 18.3642L14.2218 16.9499L18.1716 13.0002L1.99974 13.0001Z" />
                        </svg>
                        Trésorière :<br>
                        <span style="font-weight: bolder; margin-left: 20px;">ATEBA OMBALA Diane Françoise</span>
                    </p>
                    <br>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                            height="16">
                            <path
                                d="M1.99974 13.0001L1.9996 11.0002L18.1715 11.0002L14.2218 7.05044L15.636 5.63623L22 12.0002L15.636 18.3642L14.2218 16.9499L18.1716 13.0002L1.99974 13.0001Z" />
                        </svg>

                        Coordonnateur des projets :<br>
                        <span style="font-weight: bolder; margin-left: 20px;">MBENG ENAMA Boniface Pascal</span>
                    </p>
                </address>

            </div>

        </div>
    </div>
</footer>