<div class="container-1440">
    <div class="page-header">
        <div class="has-background container-full" style="background-image: url()">
            <img src="#" alt="">
        </div>
        <div class="page-header-inner">
            <div class="page-title">
                <span class="d-block page-parent">actualités </span>
                <h1 style="text-transform: uppercase;">Actualités</h1>
            </div>
            <div class="page-sub-title">
                <div>
                    <span class="has-border-l-t d-block"></span>
                </div>
                <div>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>